<a href="https://colab.research.google.com/github/jowinjestine/Automated_Data_Cleaning/blob/main/Tabular%20Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd    
df = pd.read_csv('sudeste.csv')            #take dataset as input
print(df)

In [ ]:
import numpy as np
import re

In [ ]:
for col in df.columns:
    coltosplit=re.findall("\w\S/\w+", col)      #to find which columns need to be split
print(coltosplit)

['TM/Perc']

In [ ]:
print("Enter 0 to replace string with 0 or Enter 1 to replace string with NaN")   #to replace strings like AB = absent to 0 if 0 is chosen and by NaN if 1 is selected
a=int(input('Enter choice'))
if(a==0):
    df1=df.replace(r'^[a-zA-Z]*$', 0, regex=True)   #using regex
else:
    df1=df.replace(r'^[a-zA-Z]*$', np.nan, regex=True)
    
print(df1)

Enter 0 to replace string with 0 or Enter 1 to replace string with NaN
Enter choice0
    ID                  Name  IOT   AI AWP     ST  Year  Month  date  \
0    1       Vaibhav Ambekar   82   90  84   35.0  1997      5     8
1    2       Prathamesh More   66   37  59    NaN  1995      5    27
2    3          Bravish Naik   52   45  39   53.0  1995      9    15
3    4         Pratik Shirke   69   82  50    NaN  1999      5    25
4    5            Karan Raut   31   52  89   51.0  1999      4    17
5    6           Amol Patil    34   55  97   49.0  1995     11     7
6    7         Rutwik Pandit   87    0  79   89.0  1996      4     6
7    8         Nishant Salvi   63   43  93   33.0  1995      1    14
8    9   Vaishnavi Kantulwar   50  161  89   35.0  1998      1    13
9   10         Sonali Jadhav   79  NaN  59   90.0  1997      7     5
10  11          Yogesh Dhote   64   75  95   37.0  1999      8     5
11  12           Karan Raut    75   35  51   40.0  1997      5    15
12  13          Ankita Parab   73   60  70   37.0  1997     10    27
13  14    Pratiksha Bramhane   39   53  53   58.0  1995      8    24
14  15        Shubhangi More   79   33   0   75.0  1998      3     6
15  16           Dyuti Naidu   80   34  74   91.0  1996     10    27
16  17           Rahul Gupta   67   69  41   93.0  1995      7     1
17  18       Priyanshu Singh   91   53  33   38.0  1997     11    24
18  19        Mitesh Jaiswal   55   89  93   38.0  1998      9     9
19  20         Aditya Nivate  161   87  48    NaN  1998     11    14
20  21       Narendra Chawda   85   91  43   94.0  1999      9    24
21  22         Prakash Saini   65   50  87   41.0  1997     11     4
22  23          Ganesh Nadar   96   39  65   55.0  1995      8    10
23  24         Riddhesh Shah   65   45  63   32.0  1999      3    20
24  25      Siddharth Sharma   72   82  84   40.0  1996     11    26
25  26      Arbaaz Vadnagara   72   42  40   70.0  1999      7    12
26  27         Krunal Shinde   56   78  78   82.0  1999      6    18
27  28      Mohammed Malpara   45   66  32   79.0  1996      2    19
28  29          Vivek Sharma   70    0  76   32.0  1997     10    20
29  30          Ravi Sharama   74   31  76   87.0  1998      2     9
30  31          Rajdev Karan   68   53  74   42.0  1995      4     1
31  32  Ravikant Vishwakarma   60   73  60   33.0  1997      8    13
32  33             Jeet Daga   64   75  56   79.0  1999      4     1
33  34        Jitendra Varma   88   43  52   62.0  1998      6     8
34  35            Jayesh Das   64   85  86   43.0  1997      9    15
35  36          Aniket Gupta   49   76  46   95.0  1997      7     3
36  37            Meha James   79   87  51   42.0  1995      4     5
37  38          Adarsh Joshi   57   57  52   80.0  1996     11     5
38  39         Bhavna Mishra   84   64  47   65.0  1998      2     7
39  40       Shreekant Kadam   43   68  52  142.0  1999      8    23

      TM/Perc
0   291/72.75
1         NaN
2   189/47.25
3         NaN
4   223/55.75
5   235/58.75
6         NaN
7      232/58
8   335/83.75
9         NaN
10  271/67.75
11  201/50.25
12     240/60
13  203/50.75
14        NaN
15  279/69.75
16   270/67.5
17  215/53.75
18  275/68.75
19        NaN
20  313/78.25
21  243/60.75
22  255/63.75
23  205/51.25
24   278/69.5
25     224/56
26   294/73.5
27   222/55.5
28        NaN
29     268/67
30  237/59.25
31   226/56.5
32   274/68.5
33  245/61.25
34   278/69.5
35   266/66.5
36  259/64.75
37   246/61.5
38     260/65
39  305/76.25

In [ ]:
#splitting the columns that need to be splitted 
for item in coltosplit:       
    aftersplit=item.split('/')        
    df1[[aftersplit[0],aftersplit[1]]]=df1[item].str.split("/",expand=True)
    df1.drop(item,axis=1,inplace=True)

In [ ]:
df1

In [ ]:
#finding correlation using pearson and kendall methods
a1=df1.corr(method ='pearson')

In [ ]:
a2=df.corr(method ='kendall')

In [ ]:
a1,a2

(             ID       IOT        ST      Year     Month      date
 ID     1.000000  0.043266  0.289805  0.165989  0.050518 -0.217475
 IOT    0.043266  1.000000 -0.047611  0.066741  0.145473 -0.038270
 ST     0.289805 -0.047611  1.000000  0.182817 -0.032149 -0.047962
 Year   0.165989  0.066741  0.182817  1.000000 -0.130303  0.080975
 Month  0.050518  0.145473 -0.032149 -0.130303  1.000000  0.219849
 date  -0.217475 -0.038270 -0.047962  0.080975  0.219849  1.000000,
              ID       IOT        ST      Year     Month      date
 ID     1.000000  0.000000  0.202421  0.122488  0.026725 -0.170707
 IOT    0.000000  1.000000  0.021277  0.015748  0.032236 -0.007859
 ST     0.202421  0.021277  1.000000  0.038585 -0.026746 -0.152083
 Year   0.122488  0.015748  0.038585  1.000000 -0.109853  0.069488
 Month  0.026725  0.032236 -0.026746 -0.109853  1.000000  0.146686
 date  -0.170707 -0.007859 -0.152083  0.069488  0.146686  1.000000)

In [ ]:
print(type(df.iloc[1][4]))

<class 'str'>

In [ ]:
#converting all non-string values to float
for col in df1.columns:
    if(col!="Name"):
        df1['AWP']=df1['AWP'].astype(float)

In [ ]:
""""
for col in df1.columns:
    if(col=='ID'):
        continue
    for data in df1[col]:
        #print(type(data))
        re.match('[0-9]',data)
"""

'"\nfor col in df1.columns:\n    if(col==\'ID\'):\n        continue\n    for data in df1[col]:\n        #print(type(data))\n        re.match(\'[0-9]\',data)\n'

In [ ]:
for col in df1.columns:
    if(col=='Name'):
        continue
    df1[col]=df1[col].astype(float)

In [ ]:
#df1.to_csv("editedmarks.csv")

In [ ]:
mp=df1.applymap(lambda x: isinstance(x, (int, float))),df1

In [ ]:
mp

In [ ]:
a1=df1.corr(method ='pearson').abs()

In [ ]:
a1

In [ ]:
by_row_index = df1.groupby(df1.index)
df_means = by_row_index.mean()

print (df_means.head())

    ID   IOT    AI   AWP    ST    Year  Month  date     TM   Perc
0  1.0  82.0  90.0  84.0  35.0  1997.0    5.0   8.0  291.0  72.75
1  2.0  66.0  37.0  59.0   NaN  1995.0    5.0  27.0    NaN    NaN
2  3.0  52.0  45.0  39.0  53.0  1995.0    9.0  15.0  189.0  47.25
3  4.0  69.0  82.0  50.0   NaN  1999.0    5.0  25.0    NaN    NaN
4  5.0  31.0  52.0  89.0  51.0  1999.0    4.0  17.0  223.0  55.75

In [ ]:
upper = a1.where(np.triu(np.ones(a1.shape), k=1).astype(np.bool))

# Find index of feature columns with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]
print(to_drop)
new_df = df1.drop(df1[to_drop], axis=1)

['Perc']

In [ ]:
new_df

,ID,Name,IOT,AI,AWP,ST,Year,Month,date,TM
0,1.0,Vaibhav Ambekar,82.0,90.0,84.0,35.0,1997.0,5.0,8.0,291.0
1,2.0,Prathamesh More,66.0,37.0,59.0,NaN,1995.0,5.0,27.0,NaN
2,3.0,Bravish Naik,52.0,45.0,39.0,53.0,1995.0,9.0,15.0,189.0
3,4.0,Pratik Shirke,69.0,82.0,50.0,NaN,1999.0,5.0,25.0,NaN
4,5.0,Karan Raut,31.0,52.0,89.0,51.0,1999.0,4.0,17.0,223.0
5,6.0,Amol Patil,34.0,55.0,97.0,49.0,1995.0,11.0,7.0,235.0
6,7.0,Rutwik Pandit,87.0,0.0,79.0,89.0,1996.0,4.0,6.0,NaN
7,8.0,Nishant Salvi,63.0,43.0,93.0,33.0,1995.0,1.0,14.0,232.0
8,9.0,Vaishnavi Kantulwar,50.0,161.0,89.0,35.0,1998.0,1.0,13.0,335.0
9,10.0,Sonali Jadhav,79.0,NaN,59.0,90.0,1997.0,7.0,5.0,NaN
10,11.0,Yogesh Dhote,64.0,75.0,95.0,37.0,1999.0,8.0,5.0,271.0
11,12.0,Karan Raut,75.0,35.0,51.0,40.0,1997.0,5.0,15.0,201.0
12,13.0,Ankita Parab,73.0,60.0,70.0,37.0,1997.0,10.0,27.0,240.0
13,14.0,Pratiksha Bramhane,39.0,53.0,53.0,58.0,1995.0,8.0,24.0,203.0
14,15.0,Shubhangi More,79.0,33.0,0.0,75.0,1998.0,3.0,6.0,NaN
15,16.0,Dyuti Naidu,80.0,34.0,74.0,91.0,1996.0,10.0,27.0,279.0
16,17.0,Rahul Gupta,67.0,69.0,41.0,93.0,1995.0,7.0,1.0,270.0
17,18.0,Priyanshu Singh,91.0,53.0,33.0,38.0,1997.0,11.0,24.0,215.0
18,19.0,Mitesh Jaiswal,55.0,89.0,93.0,38.0,1998.0,9.0,9.0,275.0
19,20.0,Aditya Nivate,161.0,87.0,48.0,NaN,1998.0,11.0,14.0,NaN
20,21.0,Narendra Chawda,85.0,91.0,43.0,94.0,1999.0,9.0,24.0,313.0
21,22.0,Prakash Saini,65.0,50.0,87.0,41.0,1997.0,11.0,4.0,243.0
22,23.0,Ganesh Nadar,96.0,39.0,65.0,55.0,1995.0,8.0,10.0,255.0
23,24.0,Riddhesh Shah,65.0,45.0,63.0,32.0,1999.0,3.0,20.0,205.0
24,25.0,Siddharth Sharma,72.0,82.0,84.0,40.0,1996.0,11.0,26.0,278.0
25,26.0,Arbaaz Vadnagara,72.0,42.0,40.0,70.0,1999.0,7.0,12.0,224.0
26,27.0,Krunal Shinde,56.0,78.0,78.0,82.0,1999.0,6.0,18.0,294.0
27,28.0,Mohammed Malpara,45.0,66.0,32.0,79.0,1996.0,2.0,19.0,222.0
28,29.0,Vivek Sharma,70.0,0.0,76.0,32.0,1997.0,10.0,20.0,NaN
29,30.0,Ravi Sharama,74.0,31.0,76.0,87.0,1998.0,2.0,9.0,268.0
30,31.0,Rajdev Karan,68.0,53.0,74.0,42.0,1995.0,4.0,1.0,237.0
31,32.0,Ravikant Vishwakarma,60.0,73.0,60.0,33.0,1997.0,8.0,13.0,226.0
32,33.0,Jeet Daga,64.0,75.0,56.0,79.0,1999.0,4.0,1.0,274.0
33,34.0,Jitendra Varma,88.0,43.0,52.0,62.0,1998.0,6.0,8.0,245.0
34,35.0,Jayesh Das,64.0,85.0,86.0,43.0,1997.0,9.0,15.0,278.0
35,36.0,Aniket Gupta,49.0,76.0,46.0,95.0,1997.0,7.0,3.0,266.0
36,37.0,Meha James,79.0,87.0,51.0,42.0,1995.0,4.0,5.0,259.0
37,38.0,Adarsh Joshi,57.0,57.0,52.0,80.0,1996.0,11.0,5.0,246.0
38,39.0,Bhavna Mishra,84.0,64.0,47.0,65.0,1998.0,2.0,7.0,260.0
39,40.0,Shreekant Kadam,43.0,68.0,52.0,142.0,1999.0,8.0,23.0,305.0

In [ ]:
new_df.to_csv("editedmarks.csv")

In [ ]:
##############################SEND TO API########################

ID                5
Name     Karan Raut
IOT              31
AI               52
AWP              89
ST               51
Year           1999
Month             4
date             17
TM              223
Perc          55.75
Name: 4, dtype: object

In [ ]:
#Load dependencies
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from matplotlib import*
import matplotlib.pyplot as plt
from matplotlib.cm import register_cmap
from scipy import stats
#from wpca import PCA
#from sklearn.decomposition import PCA as sklearnPCA
from sklearn.decomposition import PCA
import seaborn

In [ ]:
result=  list(df1.dtypes)

In [ ]:
df2 = df1.select_dtypes(exclude=['object'])
print(df2)

      ID    IOT     AI   AWP     ST    Year  Month  date     TM   Perc
0    1.0   82.0   90.0  84.0   35.0  1997.0    5.0   8.0  291.0  72.75
1    2.0   66.0   37.0  59.0    NaN  1995.0    5.0  27.0    NaN    NaN
2    3.0   52.0   45.0  39.0   53.0  1995.0    9.0  15.0  189.0  47.25
3    4.0   69.0   82.0  50.0    NaN  1999.0    5.0  25.0    NaN    NaN
4    5.0   31.0   52.0  89.0   51.0  1999.0    4.0  17.0  223.0  55.75
5    6.0   34.0   55.0  97.0   49.0  1995.0   11.0   7.0  235.0  58.75
6    7.0   87.0    0.0  79.0   89.0  1996.0    4.0   6.0    NaN    NaN
7    8.0   63.0   43.0  93.0   33.0  1995.0    1.0  14.0  232.0  58.00
8    9.0   50.0  161.0  89.0   35.0  1998.0    1.0  13.0  335.0  83.75
9   10.0   79.0    NaN  59.0   90.0  1997.0    7.0   5.0    NaN    NaN
10  11.0   64.0   75.0  95.0   37.0  1999.0    8.0   5.0  271.0  67.75
11  12.0   75.0   35.0  51.0   40.0  1997.0    5.0  15.0  201.0  50.25
12  13.0   73.0   60.0  70.0   37.0  1997.0   10.0  27.0  240.0  60.00
13  14.0   39.0   53.0  53.0   58.0  1995.0    8.0  24.0  203.0  50.75
14  15.0   79.0   33.0   0.0   75.0  1998.0    3.0   6.0    NaN    NaN
15  16.0   80.0   34.0  74.0   91.0  1996.0   10.0  27.0  279.0  69.75
16  17.0   67.0   69.0  41.0   93.0  1995.0    7.0   1.0  270.0  67.50
17  18.0   91.0   53.0  33.0   38.0  1997.0   11.0  24.0  215.0  53.75
18  19.0   55.0   89.0  93.0   38.0  1998.0    9.0   9.0  275.0  68.75
19  20.0  161.0   87.0  48.0    NaN  1998.0   11.0  14.0    NaN    NaN
20  21.0   85.0   91.0  43.0   94.0  1999.0    9.0  24.0  313.0  78.25
21  22.0   65.0   50.0  87.0   41.0  1997.0   11.0   4.0  243.0  60.75
22  23.0   96.0   39.0  65.0   55.0  1995.0    8.0  10.0  255.0  63.75
23  24.0   65.0   45.0  63.0   32.0  1999.0    3.0  20.0  205.0  51.25
24  25.0   72.0   82.0  84.0   40.0  1996.0   11.0  26.0  278.0  69.50
25  26.0   72.0   42.0  40.0   70.0  1999.0    7.0  12.0  224.0  56.00
26  27.0   56.0   78.0  78.0   82.0  1999.0    6.0  18.0  294.0  73.50
27  28.0   45.0   66.0  32.0   79.0  1996.0    2.0  19.0  222.0  55.50
28  29.0   70.0    0.0  76.0   32.0  1997.0   10.0  20.0    NaN    NaN
29  30.0   74.0   31.0  76.0   87.0  1998.0    2.0   9.0  268.0  67.00
30  31.0   68.0   53.0  74.0   42.0  1995.0    4.0   1.0  237.0  59.25
31  32.0   60.0   73.0  60.0   33.0  1997.0    8.0  13.0  226.0  56.50
32  33.0   64.0   75.0  56.0   79.0  1999.0    4.0   1.0  274.0  68.50
33  34.0   88.0   43.0  52.0   62.0  1998.0    6.0   8.0  245.0  61.25
34  35.0   64.0   85.0  86.0   43.0  1997.0    9.0  15.0  278.0  69.50
35  36.0   49.0   76.0  46.0   95.0  1997.0    7.0   3.0  266.0  66.50
36  37.0   79.0   87.0  51.0   42.0  1995.0    4.0   5.0  259.0  64.75
37  38.0   57.0   57.0  52.0   80.0  1996.0   11.0   5.0  246.0  61.50
38  39.0   84.0   64.0  47.0   65.0  1998.0    2.0   7.0  260.0  65.00
39  40.0   43.0   68.0  52.0  142.0  1999.0    8.0  23.0  305.0  76.25

In [ ]:
df3=df2.replace(np.nan, 0, regex=True)

In [ ]:
headers=list(df2.columns)
headers

['ID', 'IOT', 'AI', 'AWP', 'ST', 'Year', 'Month', 'date', 'TM', 'Perc']

In [ ]:
headers.remove('Year')
headers

['ID', 'IOT', 'AI', 'AWP', 'ST', 'Month', 'date', 'TM', 'Perc']

In [ ]:
x = df3.loc[:, headers].values

y = df3.loc[:, ['Year']].values

x = StandardScaler().fit_transform(x)

In [ ]:
a

0

In [ ]:
pca = PCA(n_components=2)

principalComponents = pca.fit_transform(x)

principalDataframe = pd.DataFrame(data = principalComponents, columns = ['PC1', 'PC2'])

In [ ]:
targetDataframe = df[['Year']]

pcadf = pd.concat([principalDataframe, targetDataframe],axis = 1)

In [ ]:
pcadf

         PC1       PC2  Year
0  -0.746320 -1.755386  1997
1   3.636795 -1.697928  1995
2   0.823197 -0.270643  1995
3   3.150495 -1.771546  1999
4  -0.348075 -1.523611  1999
5  -0.630588 -1.622132  1995
6   3.074049  1.047436  1996
7   0.051674 -1.345509  1995
8  -2.668714 -2.546135  1998
9   3.060331  1.541913  1997
10 -0.931047 -1.491797  1999
11  0.875267 -0.068282  1997
12  0.163690 -1.528218  1997
13  0.111455 -0.553497  1995
14  3.132370  2.648523  1998
15 -0.412044 -0.242527  1996
16 -1.027167  1.354881  1995
17  0.897051 -0.149838  1997
18 -1.372139 -1.498122  1998
19  3.829378 -0.450289  1998
20 -1.333149  0.308063  1999
21 -0.525593 -0.565071  1997
22 -0.033966  0.401064  1995
23  0.328157 -0.298840  1999
24 -0.949456 -1.601820  1996
25 -0.002670  1.238872  1999
26 -1.763751 -0.143620  1999
27 -0.607562  1.211763  1996
28  3.052369  0.062074  1997
29 -0.931019  1.245218  1998
30 -0.655943  0.515152  1995
31 -0.523041 -0.148014  1997
32 -1.577905  1.418578  1999
33 -0.318295  1.372364  1998
34 -1.516613 -0.747313  1997
35 -1.763383  1.797862  1997
36 -1.060092  0.825536  1995
37 -1.132935  1.481096  1996
38 -0.924376  1.691101  1998
39 -2.430437  1.858644  1999